{{#get "posts" filter="featured:true" include="authors,tags" limit="1"}}
  <div class="container wrapper home-hero" data-layout="1-featured">
    {{#foreach posts}}
      {{> post-card card_class="full-width" heading="h1"}}
    {{/foreach}}
  </div>
{{/get}}