<div class="container wrapper home-hero" data-layout="3-featured+latest-v2" data-lines="true">
  <div class="home-hero-group">
    {{#get "posts" filter="featured:true" include="authors,tags" limit="3"}}
      {{!-- Main post --}}
      {{#foreach posts to="1"}}
        {{> post-card card_class="main-post" heading="h1"}}
      {{/foreach}}

      {{!-- Two more posts - left --}}
      <div class="home-hero-cards">
        {{#foreach posts from="2" to="3"}}
          {{> post-card card_class="horizontal"}}
        {{/foreach}}
      </div>
    {{/get}}
  </div>

  {{!-- Get the latest and editor's picks--}}
  <div class="home-hero-list-wrapper">
    <div class="home-hero-list-tabs" data-tab="latest">
      <h2>
        <a href="/latest/" class="latest js-tab">
          <span>{{t "Latest news"}}</span>
          {{> icon name="arrow-right"}}
        </a>
      </h2>
    </div>
    {{#get "posts" filter="featured:false+tag:-hash-editors-picks" include="authors,tags" limit="4"}}
      <div class="home-hero-list latest">
        {{#foreach posts}}
          {{> post-card-simple}}
        {{/foreach}}
      </div>
    {{/get}}
  </div>
</div>