{{!< default}}

{{#page}}
  <div class="flex flex-col flex-cc mt-lg mb-lg">
    <h1 class="hero__title text-center">{{title}}</h1>
  </div>
{{/page}}

{{#if posts}}
  <div class="container wrapper">
    {{!-- Articles --}}
    <div class="flex flex-col gap-150 mb-lg max-w-60">
      {{#foreach posts}}
        {{> post-card card_class="horizontal" heading="h2"}}
      {{/foreach}}
    </div>

    {{!-- Pagination --}}
    {{> pagination}}
  </div>
{{/if}}
